{% if theme.header %}
<div class="header-image">
  {% if theme.header_link %}
    <a href="{{ theme.header_link }}">
      <img src="{{ theme.header_image }}">
    </a>
  {% else %}
    <img src="{{ theme.header_image }}">
  {% endif %}
</div>
{% endif %}

<div class="row">
  <div class="twelve columns">

    {% if products.current != empty %}
      <ul class="block-grid three-up">
        {% for product in products.current %}
          <li>
            <a href="{{ product.url }}" class="productlist">
              <div class="productlist-image">
                {% for photo in product.photos limit:1 %}
                  <img src="{{ photo | product_photo_size: "large" }}" alt="{{ photo.alt }}" width="{{ photo | photo_dimension: "width", "large" }}" height="{{ photo | photo_dimension: "height", "large"}}" />
                {% endfor %}
              </div>
              <div class="productlist-heading">
                <div class="productlist-center">
                  <h1 class="productlist-title">{{ product.name }}</h1>
                  <p class="productlist-price">${{ product.price }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no products in this collection yet.  Please check back later.</p>
    {% endif %}

  </div>
</div>
